.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  width: 706px;
  text-align: center;
  margin-top: 4rem;

  h1 {
    margin: 0;
    font-size: 42px;
  }
  p {
    margin-top: 2rem;
    color: rgba(45, 67, 121, 0.4);
  }
}

@media (max-width: 900px) {
  .start {
    margin-bottom: 3rem;
    // min-height: 350px;
    margin-top: 7rem;
    h1 {
      font-size: 32px;
    }

    p {
      font-size: 0.9rem;
    }
  }
}
