.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  width: 706px;
  text-align: center;
  margin-top: 4rem;

  h1 {
    margin: 0;
    font-size: 42px;
  }
  p {
    margin-top: 2rem;
    color: rgba(45, 67, 121, 0.4);
  }
}
