.priceButton {
  width: 180px;
  height: 60px;
  margin: 0 1rem;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  span {
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  transition: 0.2s;
  &:hover {
    background-color: rgba(237, 93, 109, 0.1);
  }
}

.priceButtonActive {
  background-color: rgba(237, 93, 109, 0.1);
  color: #ed5d6d;

  &:hover {
    background-color: rgba(237, 93, 109, 0.2);
  }
}
