.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 6rem auto;
  //   display: flex;
  //   flex-direction: column;
  //   height: 273px;
  //   height: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  //   flex-direction: row;
  //   width: 100%;
  color: rgba(45, 67, 121, 0.4);
  h2 {
    font-size: 1.5rem;
    color: black;
  }
}

.reliefy {
  max-width: 300px;
  width: 100%;
  //   position: relative;
  //   height: 173px;
  //   flex: 2;

  // img{

  // }

  p {
    margin: 2rem 0;
    line-height: 1.5rem;
  }
}

.company,
.website {
  width: 100%;
  max-width: 150px;

  h2 {
    margin: 0 0 1rem;
    // margin-bottom: 1rem;
  }
  p {
    line-height: 2rem;
  }

  a {
    display: block;
    width: 150px;
    color: rgba(45, 67, 121, 0.4);
    line-height: 2rem;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.getin {
  max-width: 300px;
  width: 100%;

  h2 {
    margin: 0 0 1rem;
    // margin-bottom: 1rem;
  }
}

@mixin buttonPrimary {
  display: inline-block;
  color: white;
  background-color: #ed5d6d;
  padding: 12px 32px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  border: none;
  text-decoration: none;
}

.buttonPrimary {
  @include buttonPrimary;
  &:hover {
    background-color: rgba(237, 93, 109, 0.8);
  }
}

.copyright {
  margin-top: 2rem;
  color: rgba(45, 67, 121, 0.4);
  a {
    color: rgba(45, 67, 121, 0.4);
    margin-left: 2rem;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
