// .table {
//   width: 38.5em;
//   height: 55.5rem;
//   display: flex;
//   position: absolute;
//   //   position: relative;
//   //   align-items: center;
//   flex-direction: column;
//   border: black solid 1px;
//   padding: 1em;
// }

// .title {
//   width: 100%;
//   //   width: 100vw;
//   font-size: 35px;
//   font-weight: 600;
//   position: realtive;
//   //   position: absolute;
//   margin-bottom: 1rem;
// }

// .first {
//   //   margin-top: 0.5em;
//   width: 100%;
//   //   width: 40em;
//   height: 11rem;
//   position: relative;
//   display: flex;
//   background-color: #ed5d6d1a;
//   //   opacity: 0.9;
//   border-radius: 35px;
//   padding: 1em;
// }

// .rectangle {
//   margin-left: 1rem;
//   //   margin-right: 10px;
//   display: flex;
//   width: 56px;
//   height: 56px;
//   background: #ffff;

//   // border: 2px solid #20222e;
//   //   color: #1e58ff;
//   cursor: pointer;
//   border-radius: 8px;
//   //   flex-direction: row;
//   position: relative;
//   align-items: center;
//   justify-content: center;
// }

// .description {
//   margin-left: 1em;
//   width: 30rem;
//   height: 9rem;
//   //   height: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;
// }

// .titleone {
//   width: 100%;
//   font-size: 25px;
//   font-weight: 600;
//   position: relative;
//   display: flex;
//   height: 2rem;
// }

// .describeone {
//   margin-top: 0.5rem;
//   color: #2d437966;
//   font-weight: 500;
//   font-size: 16px;
//   position: relative;
//   display: flex;
//   width: 100%;
// }

// .tab {
//   //   margin-top: 1rem;
//   width: 100%;
//   //   width: 40em;
//   height: 11rem;
//   position: relative;
//   display: flex;
//   background-color: none;
//   //   opacity: 0.9;
//   border-radius: 35px;
//   padding: 1em;
// }

// .rectangletab {
//   @extend .rectangle;

//   background: #ed5d6d;
// }

// .descriptiontab {
//   @extend .description;

//   height: 15rem;
// }

// .tabend {
//   @extend .tab;
//   height: 18rem;
// }

//-------

// .howWeWork {
//   padding: 0.8rem;
//   margin-top: 1rem;
//   display: flex;
//   // flex-direction: row;
//   width: 100%;
//   border-radius: 20px;

//   // h3 {
//   //   font-size: 25px;
//   // }
//   // p {
//   //   margin-top: 0.5rem;
//   //   color: rgba(45, 67, 121, 0.4);
//   // }
// }
// .imgContainer {
//   // flex: 1;
//   overflow: hidden;
//   padding: 1rem;
//   display: flex;
//   // img {
//   height: 56px;
//   max-width: 56px;
//   margin: 0 1rem;

//   align-items: center;
//   justify-content: center;

//   border-radius: 10px;
//   background: #ed5d6d;
//   // }
// }

// .primary {
//   background: rgba(237, 93, 109, 0.1);
//   .imgContainer {
//     // img {
//     background: white;
//     // }
//   }
// }

// .info {
//   // flex: 4;
//   display: flex;
//   height: 100%;
// }

// h3 {
//   font-size: 25px;
// }
// p {
//   margin-top: 0.5rem;
//   color: rgba(45, 67, 121, 0.4);
// }

//--------------------------------

.howWeWork {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  padding: 0.8rem;

  border-radius: 20px;

  h3 {
    font-size: 25px;
    margin: 0;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: rgba(45, 67, 121, 0.4);
  }

  .imgContainer {
    min-width: 56px;
    height: 56px;
    background: #ed5d6d;
    border-radius: 10px;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.primary {
  background: rgba(237, 93, 109, 0.1);

  .imgContainer {
    background: white;
  }
}
